body{
    background-color: rgb(247, 243, 238);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.card{
    width: 600px;
    background: #fff;
    margin: 16px auto;
    padding: 8px;
    border-radius: 25px;
    padding-bottom: 15px;
}
.title{
    font-size: 40px;
    text-align: center;
    font-weight:bold;
}
.results{
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: lightslategrey;
    border-radius: 25px;
    height: 150px;
    margin: 15px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
}
.choice{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}
.score{
    background-color: #fff;
    height: 50px;
    margin: 15px 15px;
    border-style: solid;
    border-width: 2px;
    border-color: lightslategrey;
    border-radius: 25px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}
button{
    width: 130px;
    height: 35px;
}

.footer{
    margin-top: auto;
 
}
.foo{
    display: flex;
    justify-content: center;
}
#aaa{
    display: flex;
    justify-content: center;
}